/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Var Css */
:root {
    --header-height: 3rem;

    /* Collors */
    --black-collor: #0B1E1E;
    --orange-collor: #E2582D;
    --green-collor: #0F8595;

    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;
    --biggest-font-size: 5rem;
    --bigger-font-size: 3rem;
    --big-font-size: 2.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    --text-line-height: 2rem;

    /*========== Font weight ==========*/
    --font-italic: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    /*========== Margenes Bottom ==========*/
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--black-collor);
    color: #fff;
}

h1,
h2,
h3 {
    color: #fff;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button,
input {
    border: none;
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
    padding: 4rem 0 140px;
}

/*=============== LAYOUT ===============*/
.main {
    overflow: hidden;

}


.grid {
    display: grid;
}

/* Header */
.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    background: transparent;
    transition: .4s;
}

/* NAV */
.nav__container {
    display: flex;
    margin-left: 81px;
    margin-right: 81px;
    margin-top: 50px;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
}

.nav {
    justify-content: space-around;
}

.nav__list {
    display: flex;
    flex-direction: row;
    column-gap: 32px;
    justify-content: space-between;
}

.nav__link {
    font-size: 14px;
    font-weight: var(--font-semi-bold);
    color: #FFF;
    text-transform: uppercase;
}

.nav__link:hover {
    color: var(--orange-collor);
    border-bottom: 1px solid var(--orange-collor);
    transition: .4s;
}

/* Change Scroll header collor */
.scroll-header {
    box-shadow: 4px 2px 4px rgba(0, 0, 0, .15);
    background-color: rgb(11, 30, 30, .5);
    transition: .4s;
    transition-timing-function: ease;
    padding-bottom: 14px;
}

.active-link {
    color: var(--orange-collor);
    border-bottom: 1px solid var(--orange-collor);
    transition: .4s;
}

/* Home */
.home__container {
    position: relative;
    background-image: url(../img/BACKGROUND.svg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center 0px;
    background-repeat: no-repeat;
    width: 100%;
    height: 810px;
    top: -91px;

}

.home__data {
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.home__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
}

.home__description {
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 32px;
}

.home__button {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 1rem 1.7rem;
    background-color: var(--orange-collor);
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
}

.home__icon {
    font-size: 20px;
}

.home__button-name {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: var(--font-medium);
}

.home__button:hover {
    background-color: transparent;
    border: 1px solid #fff;
    transition: .4s;
}

.home__social {
    display: flex;
}

.home__social-icon {
    color: #fff;
}

.home__social .button {
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 0 5px;
    overflow: hidden;
    background: var(--orange-collor);
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-out;
}

.home__social .button:hover {
    width: 150px;
    /* height: 50px; */
}

.home__social .button .icon {
    display: inline-block;
    height: 40px;
    width: 40px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 40px;
    transition: all 0.3s ease-out;
}

.home__social .button:nth-child(1):hover .icon {
    background: #1DA1F2;
}

.home__social .button:nth-child(2):hover .icon {
    background: #E1306C;
}

.home__social .button:nth-child(3):hover .icon {
    background: #4267B2;
}


.home__social .button .icon i {
    font-size: 25px;
    line-height: 40px;
    transition: all 0.3s ease-out;
}

.home__social .button:hover .icon i {
    color: #fff;
}

.home__social .button span {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    transition: all 0.3s ease-out;
}

.home__social .button span {
    color: #FFF;
}

/* ============= ABOUT ========== */

.about__container {
    display: grid;
    grid-template-rows: 1fr .5fr;
    row-gap: 2rem;
    margin-left: 18px;
    margin-right: 18px;
}

.about__content {
    text-align: center;
    margin-bottom: 169px;
}

.about__title {
    display: inline-flex;
    margin: auto;
    font-size: 48px;
    font-weight: var(--font-semi-bold);
}


.about__description {
    display: block;
    margin: auto;
    width: 515px;
    align-items: center;
}

.title2 {
    color: var(--orange-collor);
    margin-left: 12px;
}

.about__data {
    display: flex;
    flex-direction: row;
    gap: 80px;
    justify-self: center;
}

.about__data-content {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    align-items: center;
    column-gap: 16px;

}

.data__icon {
    font-size: 48px;
}

.data__jumlah {
    font-size: 31px;
    font-weight: var(--font-bold);
    color: var(--orange-collor);
}

.data__description {
    font-size: 21px;
    font-weight: var(--font-medium);
}

.line__about {
    display: block;
    width: 1px;
    height: 64px;
    opacity: 0.6;
    background-color: whitesmoke;
    transform: translate(6px, -7px);
    margin-left: 72px;
}

/* Edukatif*/

.edukatif__title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}

.edukatif__title1 {
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    text-transform: capitalize;
    color: var(--orange-collor);
    font-weight: var(--font-semi-bold);
}

.edukatif__title2 {
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    text-transform: capitalize;
    font-weight: var(--font-semi-bold);
    margin-left: 10px;
}

.edukatif__subtitle {
    font-size: 16px;
    line-height: 166.5%;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.6;
    margin-bottom: 80px;

}

.edukatif__container {
    grid-template-areas: 'sumatera kalimantan-jawa sulawesi papua';
    margin: auto;
    width: 1288px;
}

.img__container .sumatera {
    grid-area: 'sumatera';
}

.kalimantan__jawa {
    grid-area: 'kalimantan-jawa';
}

.img__container .sulawesi {
    grid-area: 'sulawesi';
}

.img__container .papua {
    grid-area: 'papua';
}

.img__container {
    position: relative;
    z-index: 10;

}

.gambar__container {
    position: relative;
}

.image {
    display: block;
    width: 100%;
    height: 460px;
    /* max-height: 460px; */
}

.image-2 {
    display: block;
    width: 100%;
    height: 230px;
    /* max-height: 460px; */
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(11, 30, 30, 0.65);
}

.img__container:hover .overlay {
    opacity: 1;
}

.overlay__title {
    color: white;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    position: absolute;
    top: 30%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay__subtitle {
    display: block;
    color: white;
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 0.013em;
    opacity: 0.7;
    position: absolute;
    /* width: 210px; */
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 24px;
}

/* Galery */
.galery__title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}

.galery__title1 {
    font-size: 48px;
    line-height: 60px;
    text-transform: capitalize;
    color: #FFFFFF;
    font-weight: var(--font-semi-bold);

}

.galery__title2 {
    font-size: 48px;
    line-height: 60px;
    text-transform: capitalize;
    color: var(--orange-collor);
    font-weight: var(--font-semi-bold);
    margin-left: 10px;
}

.galery__subtitle {
    text-align: center;
    font-size: 16px;
    font-weight: var(--font-medium);
    opacity: .6;
    margin-bottom: 80px;
}

.galery__tabs {
    display: flex;
    justify-content: space-around;
}

.galery__button {
    cursor: pointer;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    opacity: 0.4;
}

.galery__nama {
    font-size: 18px;
    line-height: 27px;
    font-weight: var(--font-semi-bold);
}

.galery__button:hover .nama__line {
    border-color: var(--orange-collor);
}

.galery__button:hover {

    opacity: 1;
}

.galery__active {
    opacity: 1;
}

.galery__active .galery__nama {
    border-bottom: 2px solid var(--orange-collor);
    opacity: 1;
}

.galery__content {
    margin: auto;
    margin-top: 80px;
    width: 1280px;
    height: 490px;
}

/* Active link */
.galery [data-content] {
    display: none;
}

.galery__active[data-content] {
    display: flex;
}

.musik__container {
    grid-template-columns: 1fr max-content;
    column-gap: 152px;
}

.musik__title {
    font-weight: 600;
    font-size: 39px;
    line-height: 58px;
    margin-bottom: 18px;
    text-transform: uppercase;
}

.musik__button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
    width: 240px;
    height: 59px;
    background: #E2582D;
    filter: drop-shadow(0px 4px 33px rgba(226, 88, 45, 0.8));
    color: #FFF;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;

}

/* About US */
.aboutus {
    height: 1046px;
    background-image: url(../img/PATTERN.png);
    background-repeat: no-repeat;
    background-position: right;
    background-color: #233434;

}

.aboutus__container {
    justify-items: center;
    margin: 152px 40px 168px;
}

.aboutus__data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 732px;
    height: 203px;
}

.aboutus__title {
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    text-transform: capitalize;
    color: #E2582D;
    margin-bottom: 8px;
}

.aboutus__description {
    font-weight: 500;
    font-size: 16px;
    line-height: 166.5%;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.75;
    margin-bottom: 90px;
}

.team__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1360px;
}

.team__data {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team__nama {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 8px;
}

.team__posisi {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    text-transform: uppercase;

    color: #FFFFFF;

}

/* Share */
.share {
    height: 385px;
}

.share__container {
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: center;
}

.share__data {
    width: 620px;
    text-align: center;
}

.share__title {
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.share__description {
    /* width: 573px; */
    font-weight: 500;
    font-size: 16px;
    line-height: 166.5%;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.6;
}

/* Share Social */
.share__social .button {
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 0 24px;
    overflow: hidden;
    background: var(--orange-collor);
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-out;
}

.share__social .button:hover {
    width: 200px;
    /* height: 50px; */
}

.share__social .button .icon {
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;
    font-size: 20px;
    color: #FFF;
}

.share__social .button:nth-child(1):hover .icon {
    background: #1DA1F2;
}

.share__social .button:nth-child(2):hover .icon {
    background: #E1306C;
}

.share__social .button:nth-child(3):hover .icon {
    background: #4267B2;
}


.share__social .button .icon i {
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease-out;
}

.share__social .button:hover .icon i {
    color: #fff;
}

.share__social .button span {
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    transition: all 0.3s ease-out;
}

.share__social .button span {
    color: #FFF;
}

/* Footer */
footer {
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.0671438);
    border-top: 1px solid rgba(255, 255, 255, 0.0671438);
}

.footer__container {
    grid-template-columns: 1fr 1fr;
    column-gap: 240px;
    margin: 44px 78px;
}

.footer__deskripsi {
    display: flex;
    flex-direction: row;
    gap: 46px;
}

.footer__logo {
    width: 171.55px;
    height: 34px;
}

.footer__description {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.01em;
    height: 120px;
    width: 299px;
}

.footer__data {
    display: flex;
    flex-direction: row;
    gap: 156px;
}

.footer__data-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.231818px;
    color: #E2582D;
    margin-bottom: 16px;
}

.footer__data-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer__data-link {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.204545px;
    color: #FFFFFF;

}

.footer__data-item:hover .footer__data-link {
    color: var(--orange-collor);
}

.footer__data-social {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__social-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.231818px;
    color: var(--orange-collor);
    margin-bottom: 16px;
}

.footer__social-wrapper {
    display: flex;
    gap: 24px;
}

.footer__social-link {
    font-size: 20px;
    color: #FFF;
}

.footer__social-link:hover {
    color: var(--orange-collor);
}

.footer__copy {
    display: flex;
    width: 100%;
    margin: 34px auto;
}

.footer__copy-link {
    margin: auto;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.204545px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
    font-weight: var(--font-italic);
}